body,
html {
  scroll-behavior: smooth;
  height: 100vh;
  margin: 0;
  background-color: #e0f2ff;
  font-family: roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 40px;
  height: 100%;
}

header {
  position: absolute;
  width: 100%;
  background: black;
  height: 8vh;
}

footer {
  background: black;
  height: 30vh;
}

#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/thusiru/underwater-bg1.webp");
  background-size: cover;
  background-position: top;
}

#intro-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 40px;
  padding: 30px 10px;
  border-radius: 25px;
  background-color: #4092AF;
  backdrop-filter: blur(5px);
  user-select: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: white;
  font-weight: 400;
}

#intro-details p {
  max-width: 650px;
  color: white;
  margin: 0;
  font-weight: 400;
}

#intro-btn {
  width: fit-content;
  color: white;
  background-color: #205676;
  padding: 13px;
  border-radius: 15px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}

#intro-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
}

#volunteer-programs {
  height: 100vh;
}

#programs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

#sort {
  height: fit-content;
  border-radius: 10px;
  border: unset;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  padding-right: 30px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

#sort:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

select {
  appearance: none;
  background-color: #e0f2ff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

select:focus {
  outline: none;
}

h2 {
  padding: 20px 0;
}

#cards-scroller {
  overflow: visible;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #000814 #e0f2ff;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin: 20px;
}

.card {
  flex: 1 0 30%;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.card:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.card-container {
  margin: 15px 10px;
}

.card-header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.flag-avatar {
  display: inline-block;
  border: 3px solid #5fa8d3;
  border-radius: 50%;
}

.flag-avatar > img {
  display: block;
  height: 40px;
  width: 40px;
}

.card-headline {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2px;
}

.card-subheader {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: small;
  font-weight: 500;
  color: dimgrey;
}

.svg-dot {
  height: 4px;
}

.svg-heart {
  height: 20px;
  transition: transform 0.1s ease-in-out;
}

.svg-heart:hover {
  transform: scale(1.1);
}

.svg-heart:active {
  transform: scale(0.9);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-details {
  height: max-content;
  padding: 0px 2px;
}

.card-icons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

.card-icon {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 4px;
  font-size: small;
  text-align: center;;
  transition: box-shadow 0.3s ease-in-out;
}

.card-icon:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.card-icon img {
  height: 25px;
}

.card-footer {
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
  align-items: end;
  gap: 10px;
}

.btn {
  border: 1px solid #000814;
  padding: 5px;
  border-radius: 8px;
  width: 200px;
  height:fit-content;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  transition: box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: scale(0.9);
}

.btn-more {
  color: #000814;
}

.btn-apply {
  color: white;
  background-color: #000814;
}
